.cadastro-senha_rodape{
    display: flex;
    gap: 0.8rem;
}

.container-cadastro_senha {
    display: flex;
    align-items: center;
    width: 100vw;

}

.cadastro-senha_left{

    height: 100vh;
    background: #F0F0F5;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50rem;
}

.cadastro-senha_rigth{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: calc(100vw - 50rem);
}

.form-rodape_senha{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 80vh;
    justify-content: space-between;
}